<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Login</title>
  </head>
  <body>
    <h1>Login</h1>
    <ul>
      <% if(messages.success_msg) { %>
      <li><%=messages.success_msg%></li>
      <% } %>
    </ul>

    <ul>
      <% if(messages.error) { %>
      <li><%=messages.error%></li>
      <% } %>
    </ul>
    <form action="/users/login" method="POST">
      <div>
        <div>
          <label for="email">email: </label>
        </div>
        <input
          type="text"
          id="email"
          name="email"
          placeholder="email"
          required
        />
      </div>
      <div>
        <div>
          <label for="password">Password: </label>
        </div>
        <input
          type="text"
          id="password"
          name="password"
          placeholder="password"
          required
        />
      </div>

      <div>
        <input type="submit" value="login" />
      </div>
      <a href="/users/register">New User? Register</a>
    </form>
  </body>
</html>
